<!DOCTYPE html>
<html>
  <head>
    <title>Vaporware As A Service</title>
  </head>
  <body>
    <h1>Vaporware As A Service</h1>
    <p>
      Welcome to Vaporware As a Service... as a service.
      <br />
      <br />
      <strong>Options:</strong>
      <br />
      <a href='/app'>'/app'</a> will generate an idea for a groundbreaking new application. <br />
      The response is a JSON object with the following keys: 'appname' and 'description'
      <br />
      <br />
      <a href='/update'>'/update'</a> will generate an update for you to share with friends, backers,
      stakeholders, etc.<br />
      The response is a JSON object with the following keys: 'title' and 'body'.
    </p>
  </body>
</html>
